<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Ironhack Cinema</h2>
    <h3>Click on the movie to check the showtimes!</h3>
    <div>
        {{#each moviesFromDB}}
        <img src="{{this.img}}" alt="image">
        <p>
        <h4>{{this.title}}</h4>
        </p>
        <p><a href="#">See more</a></p>
        {{/each}}
    </div>
</body>

</html>